body
{
    background-color: #161616;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rent
{
    background-color: rgb(32, 32, 32);
}
.nav
{
    background-color: rgba(59, 59, 59, 0.6);
}
.spa
{
    color: #161616;
}